@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@400;800&display=swap');

/* GERAL */
* {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

body {
   width: 100vw;
}

p {
   font-family: 'Open Sans', sans-serif;
   font-size: 1rem;
   font-weight: 400;
   color: #23272A;
}

h3 {
   font-family: 'Open Sans', sans-serif;
   font-size: 1.5rem;
   font-weight: 800;
   color: #23272A;
}

/**************** HEADER *******************/

header {
   background: url('../imgs/header-background-mobile.png');
   width: 100%;
   padding: 1.5rem;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   flex-wrap: wrap;

   margin-left: auto;
   margin-right: auto;
}

header #header-content {
   width: 70%;
   max-width: 37.25rem;
}

header #header-content h1 {
   color: #FFF;
   font-family: Luckiest Guy;
   font-size: 2rem;
   font-weight: 400;
   text-transform: uppercase;
   text-align: left;

   width: 17.375rem;
   margin-top: 3rem;
   margin-bottom: 1.5rem;
}

header #header-content p {
   color: #FFF;
   max-width: 100%;
   margin-bottom: 1.5rem;
}

header #header-content #header-buttons button {
   width: 100%;
   height: 3.375rem;
   padding-left: 1rem;
   padding-right: 1rem;
   border-radius: 1.75rem;
   cursor: pointer;

   font-size: 1rem;
}

header #header-content #header-buttons button#download {
   background: #FFF;
   color: #23272A;
   margin-bottom: 1rem;
}

header #header-content #header-buttons button#web-discord {
   background: #23272A;
   color: #FFF;
   margin-bottom: 3rem;
}

/************** MAIN *****************/

/* #discord-servers */

#discord-servers {
   width: 90%;
   margin: auto;

   display: flex;
   flex-direction: column;
   justify-content: center;
}

#discord-servers #image-discord-servers,
#discord-channel #image-discord-channel {
   margin-bottom: 1.69rem;
}

#discord-servers #image-discord-servers img {
   width: 100%;
}

#discord-servers #info-discord-servers h3,
#discord-channel #info-discord-channel h3 {
   margin-bottom: 1.69rem;
}

#discord-servers #info-discord-servers p {
   margin-bottom: 2.5rem;
}

#discord-channel {
   background-color: #F6F6F6;;
}

#discord-channel {
   width: 100%;
   padding: 1.5rem 2.5rem;
}

#discord-channel #discord-channel-details  {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
}

#discord-channel #discord-channel-details #image-discord-channel,
#discord-channel #discord-channel-details #info-discord-channel {
   width: 90%;
   margin: auto;
}

#discord-channel #discord-channel-details #image-discord-channel img {
   width: 100%;
   margin: auto;
}

/*************** MEDIA QUERIES **************/

@media screen and (min-width: 1280px) {
   header {
      background: url('../imgs/header-background.png');
      background-repeat: no-repeat;
      background-size: contain;
   }

   header #header-content {
      width: 70%;
      max-width: 47.3125rem;
      margin-top: 5rem;
      margin-bottom: 5rem;

      display: flex;
      flex-direction: column;
      align-items: center;
   }

   header #header-content h1 {
      width: 19.5625rem;
      font-size: 3.5rem;
      text-align: center;
   }

   header #header-content #header-buttons {
      display: flex;
   }

   header #header-content #header-buttons button#download {
      width: 12.8125rem;
   }

   header #header-content #header-buttons button#web-discord {
      margin-left: 1rem;
      width: 17.5625rem;
   }

   #discord-servers {
      flex-direction: row;
      max-width: 60.79rem;
      margin: auto;
   }

   #discord-servers #image-discord-servers {
      margin-right: 1rem;
   }

   #discord-servers #image-discord-servers img {
      width: 37.9375rem;
   }

   #discord-servers #info-discord-servers h3 {
      font-size: 2.5rem;
   }

   #discord-channel #discord-channel-details {
      flex-direction: row-reverse;
   }

   #discord-channel #discord-channel-details {
      max-width: 60rem;
      margin: auto;
   }

   #discord-channel #discord-channel-details #image-discord-channel {
      width: 38rem;
   }

   #discord-channel #discord-channel-details #info-discord-channel {
      width: 21rem;
   }
}
