@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@400;800&display=swap');

/* GERAL */
* {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

body {
   width: 100vw;
}

p {
   font-family: 'Open Sans', sans-serif;
   font-size: 1rem;
   font-weight: 400;
}

/* HEADER */

header {
   background: url('../imgs/header-background-mobile.png');
   padding: 1.5rem;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   flex-wrap: wrap;

   margin-left: auto;
   margin-right: auto;
}

header #header-content {
   width: 80%;
   max-width: 37.25rem;
}

header #header-content h1 {
   color: #FFF;
   font-family: Luckiest Guy;
   font-size: 2rem;
   font-weight: 400;
   text-transform: uppercase;
   text-align: left;

   width: 17.375rem;
   margin-top: 3rem;
   margin-bottom: 1.5rem;
}

header #header-content p {
   color: #FFF;
   max-width: 100%;
   margin-bottom: 1.5rem;
}

header #header-content #header-buttons button {
   width: 100%;
   height: 3.375rem;
   padding-left: 1rem;
   padding-right: 1rem;
   border-radius: 1.75rem;
   cursor: pointer;

   font-size: 1rem;
}

header #header-content #header-buttons button#download {
   background: #FFF;
   color: #23272A;
   margin-bottom: 1rem;
}

header #header-content #header-buttons button#web-discord {
   background: #23272A;
   color: #FFF;
   margin-bottom: 3rem;
}

@media screen and (min-width: 992px) {
   header {
      background: url('../imgs/header-background.png');
      background-repeat: no-repeat;
      background-size: contain;
   }

   header #header-content {
      width: 70%;
      max-width: 47.3125rem;
      margin-top: 5rem;
      margin-bottom: 5rem;

      display: flex;
      flex-direction: column;
      align-items: center;
   }

   header #header-content h1 {
      width: 19.5625rem;
      font-size: 3.5rem;
      text-align: center;
   }

   header #header-content #header-buttons {
      display: flex;
   }

   header #header-content #header-buttons button#download {
      width: 12.8125rem;
   }

   header #header-content #header-buttons button#web-discord {
      margin-left: 1rem;
      width: 17.5625rem;
   }
}
